* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color:orange;
	transition: all 1s;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
	color:lime;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1100px;
}
::placeholder {
  color:#D3CFCB;
}
body {
	font-family: 'Josefin Sans';
}


header {
	padding: 20px 20px;
	width: 100%;
}
header h1 {
	text-align: center;
}

#window {

}
#window .calc_box {
	text-align: center;
	width: 40%;
	height: 70%;
	margin:0 auto;
	background-color: rgb(54, 54, 54);
	padding: 30px 20px;
}
#window .calc_box div#top {
	width: 97%;
	height: 20%;
	font-size: 36px;
	text-align: right;
	background: rgb(230, 230, 230);
	margin-bottom: 40px;
	padding: 30px 10px;
}
#window .calc_box div.top h1.screen {
	
}
#window .calc_box div.bottom {
	width: 100%;
	height: 70%;
	display: flex;
	flex-wrap: wrap;
}
#window .calc_box div.bottom div {
	width: 23%;
	border: 2px solid #000;
	background-color: #ffffff;
	margin-right: 5px;
	margin-bottom: 5px;
	transition: all .100s;
	padding: 8px;
}
#window .calc_box div.bottom div:hover {
	background-color: rgb(14, 14, 14);
}
#window .calc_box div.bottom div:hover h1 {
	color: rgb(255, 255, 255);
}
#window .calc_box div.bottom div#equal:hover {
	background-color: #115ad9;
}
#window .calc_box div.bottom div h1{
	font-size: 32px;
	color:rgb(0, 0, 0);
}


@media all and (max-width:768px){
	#window .calc_box {
		width: 60%;
	}
} 
@media all and (max-width: 480px){
	#window .calc_box div.bottom div{
		width: 20%;
	}
	#window .calc_box div.bottom div#back {
		width: 64%;
	}
}
@media all and (max-width: 320px){
	#window .calc_box{
		width: 80%;
	}
}