* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width:1100px;
}
::placeholder {
  color:#D3CFCB;
}
body {
	font-family: 'Josefin Sans';
}


#home {
	padding-top:40px;
	padding-left: 80px;
	padding-right: 40px;
	margin: 0 auto;
	position: relative;
	height: 100vh;
	color: #fff;
}
#home::after{
	content:"";
	background:url(../images/fire.jpg);
	background-size:100vw;
	background-position:bottom right;
	background-repeat: no-repeat;
	opacity:0.9;
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	z-index: -1;
}
#home img.s {
	width: 15%;
	border-radius: 50%;
	border:5px solid #ff9f19;
	padding: 10px;
	margin-bottom: 40px;
}
#home h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
	z-index:20;
	position: relative;
}
#home p {
	font-size: 18px;
	margin-bottom: 30px;
	vertical-align: middle;
}
#home p a {
	border-bottom: 1px solid #fff;
	color: #fff;
}
#home p::first-letter {
	font-size: 34px;
}
#home a.button {
	background-color: #ff9f19;
	color: #fff;
	display:inline-block;
	padding: 12px 14px;
	width:150px;
	display: flex;
	align-items: center;
}
#home a.button img {
	width: 16%;
	margin-left: 16px;
}







	/* media quireies */



@media all and (max-width: 1020px) {
	#home {
		height:100%;
		padding-bottom: 20px;
	}
}
@media all and (max-width: 980px) {
	
}
@media all and (max-width: 768px) {
	#home img.s {
		width: 20%;
	}
}
@media all and (max-width: 640px)  {
	#home {
		height:650px;
	}
	#home img.s {
		width: 24%;
	}
}
@media all and (max-width: 480px) {
	#home {
		height: 710px;
	}
	#home img.s {
		padding: 8px;
		width: 28%;
	}
}
@media all and (max-width: 360px) {
	#home {
		height:890px;
		padding-left: 30px;
	}
	#home::after {
		background:url(../images/wall.jpg);
		background-size: 100%;
	}
	#home p {
		width: 98%;
	}
	#home img.s {
		width: 38%;
	}
}
@media all and (max-width: 320px) {
	#home img.s {
		width: 42%;
	}
}