* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:980px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
::placeholder {
  color:#D3CFCB;
}


section#spotlight {
	background-image: url(../images/bg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
section#spotlight header {
	height: 70%;
	padding: 30px 0px;
}
section#spotlight header section.wrapper {
	display: flex;
	align-items:center;
	justify-content: space-between;
}
section#spotlight header section.wrapper div.left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section#spotlight header section.wrapper div.left h1.left {
	width: 78px;
}
section#spotlight header section.wrapper div.left h1.left a {
	width: 100%;
	display:block;
}
section#spotlight header section.wrapper div.left h1.left a img {
	width: 100%;
	display:block;
}
section#spotlight header section.wrapper div.left ul.left {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section#spotlight header section.wrapper div.left ul.left li {
	margin-left: 40px;
}
section#spotlight header section.wrapper div.left ul.left li a {
	font-size: 15px;
	color: #fff;
}
section#spotlight header section.wrapper div.left ul.left li a img {
	width: 13px;
}
section#spotlight header section.wrapper div.right {

}
section#spotlight header section.wrapper div.right ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
section#spotlight header section.wrapper div.right ul li {
	margin-right: 20px;
}
section#spotlight header section.wrapper div.right ul li:last-child {
	margin-right: 0;
}
section#spotlight header section.wrapper div.right ul li a {
	color: #fff;
}
section#spotlight header section.wrapper div.right ul li a.button {
	background-color: #2dca73;
	padding:13px 33px;
	display:inline-block;
	border-radius: 8px;
}







section.front {
	padding: 154px 0px;
}
section.front h1 {
	font-size: 45px;
	color: #fff;
	text-align: center;
	font-weight: 700;
}
section.front p {
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin: 20px 0px;
}
section.front div.search  {
	text-align: left;
	border-radius: 4px;
	width: 65%;
	padding: 12px 8px;
	margin: 0 auto;
	background-color: #fff;
}
section.front div.search form input[type=text] {
	border-radius: 4px;
	width: 76%;
	height:40px;
	margin:0 auto;
	padding-left: 9px;
	border: 1px solid #2dca73;
	margin-right: 10px;
	color: #dfdfdf;
}
section.front div.search form input[type=submit] {
	background-color: #2dca73;
	padding:13px 33px;
	display:inline-block;
	border-radius: 8px;
	color: #fff;
} 


section#two {
	background-image: url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	background-position: bottom right;
	height: 100vh;
}
section#two section.wrapper {
	
}
section#two section.wrapper section.content {
	padding: 100px 0px;
}
section#two section.wrapper section.content h1 {
	font-weight: 700;
	font-size: 32px;
	width: 48%;
	opacity:.8;
	margin-bottom: 40px;
}
section#two section.wrapper section.content a.button {
	padding: 18px 33px;
	background-color:#1C2C40;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	border-radius: 9px;
}


























@media all and (max-width: 980px) {
	section.front div.search form input[type=text] {
		width: 69%;
	}
	section#two {
		background-size: 600px;
	}
	section#two section.wrapper section.content h1 {
		font-size: 26px;
		width: 43%;
	}
}
@media all and (max-width: 768px) {	
	section#spotlight header section.wrapper div.left ul.left {
		display:none;
	}
	section.front div.search form input[type=text] {
		width: 66%;
	}
	section.front div.search {
		width: 76%;
	}
	section.front div.search form input[type=submit] {
		padding:13px 36px;
	}
	section#two section.wrapper section.content {
		padding: 70px 0px;
	}
	section#two section.wrapper section.content h1 {
		width: 66%;
	}
}
@media all and (max-width: 640px) {
	section.front h1 {
		font-size: 38px;
		width: 90%;
		margin:0 auto;
	}
	section.front div.search form input[type=text] {
		width: 55%;
	}
	section#two {
		background-size: 500px;
	}
} 
@media all and (max-width: 480px) {
	section#spotlight header section.wrapper div.right ul {
		display:none;
	}
	section#spotlight header section.wrapper {
		justify-content: center;
	}
	section.front h1 {
		font-size: 30px;
	}
	section.front div.search {
		width: 90%;
	}
	form {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	section.front {
		padding:80px 0px;
	}
	section#two {
		background-image:none;
		height:60%;
	}
	section#two section.wrapper section.content {
		text-align: center;
		margin:0 auto;
	}
	section#two section.wrapper section.content h1 {
		text-align: center;
		margin:0 auto;
		width: 100%;
		margin-bottom: 30px;
	}
}
@media all and (max-width: 360px) {
	section.front div.search form input[type=submit] {
		padding: 13px 28px;
	}
}




